<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.huosoft.wisdomclass.linspirerdemo">

    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.CHANGE_WIFI_STATE" />
    <uses-permission android:name="android.permission.BLUETOOTH_CONNECT" />
    <uses-permission android:name="com.android.launcher.permission.INSTALL_SHORTCUT" />
    <uses-permission android:name="android.permission.KILL_BACKGROUND_PROCESSES" />
    <uses-permission android:name="android.permission.BLUETOOTH_ADMIN" />
    <uses-permission android:name="android.permission.FOREGROUND_SERVICE" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <uses-permission
        android:name="android.permission.READ_LOGS"
        tools:ignore="ProtectedPermissions" />
    <uses-permission
        android:name="android.permission.WRITE_SETTINGS"
        tools:ignore="ProtectedPermissions" />
    <uses-permission
        android:name="android.permission.WRITE_SECURE_SETTINGS"
        tools:ignore="ProtectedPermissions" />
    <uses-permission android:name="android.permission.SYSTEM_ALERT_WINDOW" />
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.FLASHLIGHT" />
    <uses-permission android:name="android.permission.BLUETOOTH" />
    <uses-permission android:name="WRITE_SETTINGS" />
    <uses-permission android:name="QUERY_ALL_PACKAGES" />

    <queries>
        <intent>
            <action android:name="android.intent.action.MAIN" />
        </intent>
    </queries>

    <uses-permission android:name="android.permission.MANAGE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.REQUEST_DELETE_PACKAGES" />
    <uses-permission android:name="android.permission.BLUETOOTH_ADMIN" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.VIBRATE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.CHANGE_NETWORK_STATE" />
    <uses-permission android:name="android.permission.CHANGE_WIFI_STATE" />
    <uses-permission android:name="android.permission.REQUEST_INSTALL_PACKAGES" />
    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED" />
    <uses-permission android:name="android.permission.MANAGE_USERS " />

    <uses-feature android:name="android.hardware.usb.host" />
    <uses-feature android:name="android.hardware.camera.autofocus" />

    <application
        android:name=".lspdemoApplication"
        android:extractNativeLibs="true"
        android:icon="@mipmap/icon"
        android:label="@string/app_name"
        android:requestLegacyExternalStorage="true"
        android:roundIcon="@mipmap/icon"
        android:supportsRtl="true"
        android:theme="@style/Theme.LinspirerDemo"
        android:usesCleartextTraffic="true">
        <receiver
            android:name="adbotg.UsbReceiver"
            android:enabled="true"
            android:exported="true">
            <intent-filter>
                <action android:name="android.hardware.usb.action.USB_DEVICE_ATTACHED" />
            </intent-filter>

            <meta-data
                android:name="android.hardware.usb.action.USB_DEVICE_ATTACHED"
                android:resource="@xml/device_filter" />

            <intent-filter>
                <action android:name="android.hardware.usb.action.USB_STATE" />
            </intent-filter>

            <meta-data
                android:name="android.hardware.usb.action.USB_STATE"
                android:resource="@xml/device_filter" />
        </receiver>

        <activity
            android:name="com.ljlVink.Activity.AboutActivity"
            android:exported="false" />

        <meta-data
            android:name="ScopedStorage"
            android:value="true" />

        <activity
            android:name="adbotg.adbMainActivity"
            android:label="ADB-OTG"
            android:exported="false">
            <intent-filter>
                <action android:name="android.hardware.usb.action.USB_DEVICE_ATTACHED" />
            </intent-filter>

            <meta-data
                android:name="android.hardware.usb.action.USB_DEVICE_ATTACHED"
                android:resource="@xml/device_filter" />
        </activity>
        <activity
            android:name="com.ljlVink.Activity.AppManageActivity"
            android:exported="false" />
        <activity
            android:name="com.ljlVink.Activity.SettingsActivity"
            android:exported="false" />
        <activity
            android:name="com.ljlVink.Activity.linspirer_fakeuploader"
            android:excludeFromRecents="true"
            android:exported="false"
            android:label="领创应用列表上传"
            android:screenOrientation="landscape" />
        <activity
            android:name="com.ljlVink.Activity.linspirer_pwdcalc"
            android:excludeFromRecents="true"
            android:exported="false"
            android:icon="@mipmap/icon"
            android:label="领创密码计算"
            android:screenOrientation="landscape" />
        <activity
            android:name="com.ljlVink.Activity.autostart"
            android:excludeFromRecents="true"
            android:exported="true"
            android:icon="@mipmap/icon"
            android:theme="@style/TranslucentTheme" />
        <activity
            android:name="com.ljlVink.Activity.webview"
            android:exported="false"
            android:icon="@mipmap/icon" />
        <activity
            android:name="com.king.zxing.CaptureActivity"
            android:icon="@mipmap/icon"
            android:theme="@style/CaptureTheme" />
        <activity
            android:name="com.ljlVink.Activity.NewUI"
            android:exported="true"
            android:icon="@mipmap/icon"
            android:label="LinspirerDemo"
            android:screenOrientation="landscape">
            <intent-filter>
                <action android:name="android.intent.action.SEND" />

                <category android:name="android.intent.category.DEFAULT" />

                <data android:mimeType="*/*" />
            </intent-filter>
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />

                <data android:scheme="lspdemo" />
            </intent-filter>
        </activity>

        <meta-data
            android:name="design_width_in_dp"
            android:value="1280" />
        <meta-data
            android:name="design_height_in_dp"
            android:value="800" />

        <service
            android:name="com.ljlVink.services.BeepMainService"
            android:exported="true"
            android:icon="@mipmap/icon"
            android:permission="android.permission.BIND_INPUT_METHOD">
            <intent-filter>
                <action android:name="android.view.InputMethod" />
            </intent-filter>

            <meta-data
                android:name="android.view.im"
                android:resource="@xml/method" />
        </service>
        <service
            android:name="com.ljlVink.services.QuickStartSvc_backtolsp"
            android:enabled="true"
            android:exported="true"
            android:icon="@drawable/backtodesktop"
            android:label="快速返回到领创"
            android:permission="android.permission.BIND_QUICK_SETTINGS_TILE">
            <intent-filter>
                <action android:name="android.service.quicksettings.action.QS_TILE" />
            </intent-filter>
        </service>
        <service
            android:name="com.ljlVink.services.QuickStartSvc_openMain"
            android:enabled="true"
            android:exported="true"
            android:icon="@drawable/device_settings"
            android:label="打开主程序"
            android:permission="android.permission.BIND_QUICK_SETTINGS_TILE">
            <intent-filter>
                <action android:name="android.service.quicksettings.action.QS_TILE" />
            </intent-filter>
        </service>

        <meta-data
            android:name="HackMdm"
            android:value="linspirerdemo" />

        <receiver
            android:name="com.ljlVink.Receiver.thirdpartyreceiver"
            android:enabled="true"
            android:exported="true"
            android:icon="@mipmap/icon">
            <intent-filter>
                <action android:name="ljlVink.thirdparty.app.calldeviceowner" />
                <action android:name="ljlVink.thirdparty.app.pullrsa" />
            </intent-filter>
        </receiver>

        <service
            android:name="com.ljlVink.services.vpnService"
            android:enabled="true"
            android:exported="true"
            android:icon="@mipmap/icon"
            android:permission="android.permission.BIND_VPN_SERVICE">
            <intent-filter>
                <action android:name="android.net.VpnService" />
            </intent-filter>
        </service>

        <activity
            android:name=".ddpm"
            android:excludeFromRecents="true"
            android:exported="true"
            android:icon="@mipmap/icon"
            android:label="后门解除lspdemo控制"
            android:theme="@style/TranslucentTheme" />

        <receiver
            android:name="com.ljlVink.Receiver.MyReceiver"
            android:enabled="true"
            android:exported="true"
            android:icon="@mipmap/icon">
            <intent-filter>
                <action android:name="android.intent.action.BOOT_COMPLETED" />
                <action android:name="com.linspirer.edu.return.userinfo" />
            </intent-filter>
            <intent-filter>
                <action android:name="android.intent.action.PACKAGE_ADDED" />
                <action android:name="android.intent.action.PACKAGE_REMOVED" />
                <action android:name="android.intent.action.PACKAGE_REPLACED" />

                <data android:scheme="package" />
            </intent-filter>

            <intent-filter>
                <action
                    android:name="android.provider.Telephony.SECRET_CODE"/>
                <data
                    android:scheme="android_secret_code"
                    android:host="6666"/>
                <data
                    android:scheme="android_secret_code"
                    android:host="4567"/>
                <data
                    android:scheme="android_secret_code"
                    android:host="0000"/>

            </intent-filter>
        </receiver>

        <provider
            android:name="androidx.core.content.FileProvider"
            android:authorities="${applicationId}.fileProvider"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/provider_paths" />
        </provider>

        <activity
            android:name="com.ljlVink.Activity.voicecallactivity"
            android:excludeFromRecents="true"
            android:exported="true"
            android:icon="@mipmap/icon"
            android:label="语音助手拉起lspdemo">
            <intent-filter>
                <action android:name="android.intent.action.ASSIST" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.ljlVink.Activity.PreMainActivity"
            android:excludeFromRecents="true"
            android:exported="true"
            android:icon="@mipmap/icon"
            android:theme="@style/TranslucentTheme">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name="activitylauncher.MainActivity"
            android:exported="true"
            android:icon="@mipmap/icon"
            android:label="ActivityLauncher"
            android:screenOrientation="locked" />
        <activity
            android:name="activitylauncher.SettingsActivity"
            android:exported="false"
            android:icon="@mipmap/icon"
            android:label="@string/activity_settings" />
        <activity
            android:name="activitylauncher.RootLauncherActivity"
            android:exported="true"
            android:label="@string/context_action_launch_as_root">
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />
            </intent-filter>
        </activity>

        <meta-data
            android:name="xposedmodule"
            android:value="true" />
        <meta-data
            android:name="xposedscope"
            android:resource="@array/xposed_scope" />
        <meta-data
            android:name="xposeddescription"
            android:value="mdm任务栏效果增强" />
        <meta-data
            android:name="xposedminversion"
            android:value="82" />
    </application>

</manifest>